body {
  font-family: 'Raleway', sans-serif;
}

header {
  font-family: 'Josefin Sans', sans-serif;
}

.heading-primary {
  color: $color-white;
  // text-transform: uppercase;

  &--main {
    display: block;
    font-size: 5.0rem;
    font-weight: 700;
    letter-spacing: .8rem;
  }
  
  &--sub {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .6rem;
  }
}

.heading-secondary {
  font-size: 4rem; //35px
  font-weight: 700;
  letter-spacing: .75rem;

  padding-bottom: 1.25rem;
  border-bottom: 1px solid rgba($color-grey-dark, .2);

  cursor: default;

  //text color gradient
  display: inline-block;      //background/gradient ends where text ends
  background-image: linear-gradient(to right, rgba($color-blue-dark, .7), $color-blue-dark);
  -webkit-background-clip: text;    //background shows only where text is present
  color: transparent;               //text allows background clip to show through

  transition: all .3s;

  &:hover {
    transform: scale(1.025) translate(-1rem, -1rem);
    text-shadow: 3rem 3rem .5rem rgba($color-grey-dark, .2);
    border-bottom: none;
  }
}

// .heading-tertiary {
//   font-size: $default-font-size;
//   font-weight: 700;
//   text-transform: uppercase;
// }