body {
  font-family: 'Raleway', sans-serif;
}

header {
  font-family: 'Josefin Sans', sans-serif;
}

.heading-primary {
  color: $color-white;

  &--main {
    display: block;
    font-size: 5.0rem;
    font-weight: 700;
    letter-spacing: .8rem;

    @include respond($respond-nav-shrink) {
      letter-spacing: .7rem; 
      font-size: 4.25rem;
      line-height: 5.5rem;     
    }

  }
  
  &--sub {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .6rem;

    @include respond($respond-nav-shrink) {
      font-size: 3rem;
    }
  }
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .65rem;

  padding-bottom: 1.25rem;
  border-bottom: 1px solid rgba($color-grey-dark, .2);

  cursor: default;

  //text color gradient
  background-image: linear-gradient(to right, rgba($color-blue-dark, .7), $color-blue-dark);
  @include text-gradient;

  transition: all .3s;

  &:hover {
    transform: scale(1.025) translate(-1rem, -1rem);
    text-shadow: 3rem 3rem .5rem rgba($color-grey-dark, .2);
    border-bottom: 1px solid transparent;
    backface-visibility: hidden;

    @include respond($respond-nav-shrink) {
      &:hover {
        transform: none;
        text-shadow: none;
      }
    }
  }

  &--2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .65rem;
    margin: auto;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid rgba($color-grey-light, .2);
  
    cursor: default;
  
    display: inline-block;
    color: $color-white;
    transition: all .3s;
  
    &:hover {
      transform: scale(1.04);
      border-bottom: 1px solid transparent;
      backface-visibility: hidden;
    }

    @include respond($respond-nav-shrink) {
      margin-right: 0;
    }
  }
}

.heading-tertiary {
  font-family: 'Josefin Sans', sans-serif;
  margin: auto;
  font-weight: 700;
  font-size: 3rem;

  &--sub {
    margin: auto;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.2rem;

    @include respond($respond-nav-collapse) {
      margin-bottom: 1.5rem;
    }
  }
}

.project {
  &__text {
    line-height: 2.5rem;
    margin: auto;
  }
  &__icons {
    background-image: linear-gradient($color-blue-dark, $color-blue-light);
    @include text-gradient;
  }
  &__icon {
    font-size: 4rem;

    @include respond($respond-nav-collapse) {
      font-size: 3.5rem;
    }

    &:not(:first-child) {
      padding-left: 1rem;
    }
  }
}