@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;

    @include respond($respond-nav-collapse) {
      display: none;
    }
  }
}

@mixin text-gradient {
  display: inline-block;            //background/gradient ends where text ends
  -webkit-background-clip: text;    //background shows only where text is present
  color: transparent;               //text allows background clip to show through
}

@mixin absCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* MEDIA QUERY MANAGER
0 - 600px: phone
600 - 900px: tablet
900 - 1200px: tablet landscape

1200 - 1800: NORMAL

1800px+: big desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == $respond-phone {
    @media only screen and (max-width: $respond-phone) {@content};
  }
  @else if $breakpoint == $respond-nav-collapse {
    @media only screen and (max-width: $respond-nav-collapse) {@content};
  }
  @else if $breakpoint == $respond-nav-shrink {
    @media only screen and (max-width: $respond-nav-shrink) {@content};
  }
}



