@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin text-gradient {
  display: inline-block;            //background/gradient ends where text ends
  -webkit-background-clip: text;    //background shows only where text is present
  color: transparent;               //text allows background clip to show through
}

@mixin absCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* MEDIA QUERY MANAGER
0 - 600px: phone
600 - 900px: tablet
900 - 1200px: tablet landscape

1200 - 1800: NORMAL

1800px+: big desktop
*/

@mixin respond-phone {
  @media (max-width: 600px) { @content };
}

//BEST PRACTICE - use breakpoint as a parameter
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {@content}
  }
}


