.navbar {
  background-color: $color-blue-light;
  min-height: $navbar-height;
  color: $color-white;

  &__linklist {
    list-style: none;
    text-align: center;
  }

  &__link {
    display: inline-block;
    font-size: 1.5rem;
    // margin-top: 50%;

    &:not(:last-child) {
      padding-right: 6rem;
    }
  }
}