.section-about {
  height: 60rem;
  margin-top: -27rem;
  background-color: rgba($color-grey-light, 1);
  padding: 17rem 0 25rem 0;
  font-size: 1.6rem;

  &__content {
    position: relative;
    width: 60%;
    margin: auto;
  }

  &__shape { 
    width: 25rem;
    height: 25rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 45%);
    shape-outside: circle(50% at 50% 45%);
    -webkit-clip-path: circle(50% at 50% 45%);
    clip-path: circle(50% at 50% 45%);
    transform: translateX(-3rem);
  }

  &__img {
    width: 100%;
    transform: translateY(-5rem);
    z-index: 100;
  }

  &__text {
    padding-top: 2rem;
    transform: translateX(2rem);
    line-height: 3rem;
  }

}

.section-projects {
  height: 60rem;
  background-color: rgba($color-grey-light, 1);
  padding: 10rem 0 25rem 0;
  font-size: 1.6rem;
  position: relative;

  &__img {
    width: 50rem;
    position: absolute;
    border-radius: $border-radius-sml;
  }
}