// #master-container {

// }

// #content-wrap {
//   padding-bottom: $footer-height;
// }

// #root {
//   min-height: 100vh;
//   position: relative;
//   padding-bottom: $footer-height;
// }

.section-about {
  height: 70rem;
  margin-top: -27rem;
  background-image: linear-gradient(to bottom, $color-grey-light 98%, transparent);
  padding: 20rem 0 0 0;
  font-size: 1.6rem;

  &__content {
    position: relative;
    width: 60%;
    margin: auto;

    @include respond($respond-nav-shrink) {
      width: 75%;
      padding: 2rem 0 5rem 0;
    }
  }

  &__shape { 
    width: 25rem;
    height: 25rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 45%);
    shape-outside: circle(50% at 50% 45%);
    -webkit-clip-path: circle(50% at 50% 45%);
    clip-path: circle(50% at 50% 45%);
    transform: translateX(-3rem);

    @include respond($respond-nav-shrink) {
      float: none;
      display: block;
      margin: auto;
      transform: none;
    }
  }

  &__img {
    width: 100%;
    transform: translateY(-5rem);
    z-index: 100;
    
  }

  &__text {
    padding-top: 2rem;
    transform: translateX(2rem);
    line-height: 3rem;
    
    @include respond($respond-nav-shrink) {
      text-align: center;
      display: inline-block;
      margin-bottom: 3rem;
      transform: none;
      padding-top: 4rem;
    }
  }

  @include respond($respond-nav-shrink) {
    height: max-content;
  }
}

.section-skills {
  height: 50rem;
  margin: auto;
  border-radius: 1rem;
  box-shadow: -1rem 0 2.8rem $color-grey-dark;
  transform: skew(-$skew-amount);
  width: 65%;
  padding: 7rem 0 30rem 0;
  background-image: linear-gradient(
    to bottom, 
    rgba($color-blue-light, 1), 
    rgba($color-blue-dark, 1));
  transition: all .3s;
    
  &:hover {
    transform: scale(1.02) translateY(-.5rem) skew(-$skew-amount);
    box-shadow: -1rem 0 3.8rem $color-grey-dark;
  }

  &__container {
    // transform: skew(-$skew-amount);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; //vertical
    justify-content: center;  //align according to specified flex-direction
    margin: auto;
    margin-top: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
    width: 65%;
  }

  &__icon-container {
    flex-basis: 8rem;
    // margin-top: 1rem;
    text-align: center;
  }

  &__icon {
    font-size: 5rem;
    color: white;
  }

  &__label {
    color: white;
    font-size: 1.25rem;
    margin: 3rem 0 1.5rem 0;
  }

  @include respond($respond-nav-shrink) {
    box-shadow: none;
    transform: none;
    border-radius: .3rem;
    width: 95%;
    height: max-content;
    padding: 7rem 0 10rem 0;
    margin-top: 5rem;


    &:hover {
      transform: none;
      box-shadow: none;
    }
  }

  @include respond($respond-nav-collapse) {
    margin-top: 0;
  }
}

.section-projects {
  height: 140rem;
  background-image: linear-gradient(to bottom, transparent, $color-grey-light 2%);
  margin-bottom: 12rem;
  padding: 8rem 0 25rem 0;
  font-size: 1.6rem;
  position: relative;

  @include respond($respond-nav-collapse) {
    height: 2rem;
    padding-bottom: 0;
  }
}

.project {
  margin: auto;
  width: 95%;
  padding: 5rem 5rem 7.5rem 5rem;

  @include respond($respond-nav-collapse) {
    padding-top: 3.5rem;
  }

  @include respond($respond-phone) {
    padding-right: 0;
    padding-left: 0;
  }

  &__img-container {
    position: relative;
    display: inline-block;
    transition: all .3s;
    border-radius: $border-radius-sml;
    margin: auto;
  
    &:hover {
      transform: scale(1.015) translateY(-.5rem);
      box-shadow: 0rem 1.5rem 3rem rgba($color-black, .8);
    }

    &:hover .project__img {
      filter: brightness(75%) blur(.5px);
    }

    &:hover .project__link {
      opacity: 1;
    }

    @include respond($respond-nav-shrink) {
      width: 100%;

      &:hover {
        transform: none;
        box-shadow: none;
      }
    }
  }
  
  &__links {
    @include absCenter;
    width: 100%;
    text-align: center;

    @include respond($respond-nav-shrink) {
      width: 100%;
      display: block;
    }

    &--mobile {
      width: 100%;
      text-align: center;
      display: none;
  
      @include respond($respond-nav-shrink) {
        display: block;
        margin: 3.5rem 0 5rem 0;
      }
    }
  }
  
  &__link {
    display: inline-block;
    text-align: center;
    width: 12rem;
    text-decoration: none;
    letter-spacing: 1px;
    opacity: 0;      

    border-radius: $border-radius-sml;
    background-image: linear-gradient($color-blue-dark, $color-blue-light);
    padding: 1.5rem;
    color: $color-white;
    box-shadow: 0rem .5rem .5rem rgba($color-black, .8);

    transition: all .3s;

    &:not(:first-child) {
      margin-left: 3rem;
    }

    &:hover {
      transform: scale(1.02) translateY(-1px);
      box-shadow: 0rem .5rem 1rem rgba($color-black, .8);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0rem .1rem .5rem rgba($color-black, .8);      
    }

    @include respond($respond-nav-shrink) {
      display: none;
    }

    &--mobile {
      display: none;

      @include respond($respond-nav-shrink) {
        opacity: 1;
        display: inline-block;
        width: 10rem;
        text-decoration: none;
        letter-spacing: 1px;
        border-radius: $border-radius-sml;
        background-image: linear-gradient($color-blue-dark, $color-blue-light);
        padding: 1.5rem;
        color: $color-white;
        box-shadow: 0rem .5rem .5rem rgba($color-black, .8);

        &:not(:first-child) {
          margin-left: 3rem;
        }
      }

      @include respond($respond-phone) {
        width: 10rem;
        text-align: center;
        letter-spacing: .5px;
      }
    }
  }
  
  &__img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: $border-radius-sml;
    box-shadow: 0rem 1rem 1.8rem $color-grey-dark-2;
    transition: all .3s;

    @include respond($respond-nav-shrink) {
      display: none;
    }
  }
  
  &__icon {
    font-size: 4.5rem;
  }
}

