html {
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif; }

header {
  font-family: 'Josefin Sans', sans-serif; }

.heading-primary {
  color: #FFF; }
  .heading-primary--main {
    display: block;
    font-size: 5.0rem;
    font-weight: 700;
    letter-spacing: .8rem; }
  .heading-primary--sub {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .6rem; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .75rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid rgba(119, 119, 119, 0.2);
  cursor: default;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(33, 46, 83, 0.7), #212e53);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .3s; }
  .heading-secondary:hover {
    transform: scale(1.025) translate(-1rem, -1rem);
    text-shadow: 3rem 3rem 0.5rem rgba(119, 119, 119, 0.2);
    border-bottom: none; }

.heading-tertiary {
  margin: auto;
  font-weight: 700;
  text-transform: uppercase; }

.u-center-text {
  text-align: center !important; }

.u-margin-top {
  margin-top: 4rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 5rem / 3)) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 5rem / 4)) + 2 * 5rem); }

.header {
  position: relative;
  height: 50rem;
  background-image: linear-gradient(to bottom, #4a919e, #212e53);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: ellipse(80% 80% at 50% -10%);
  clip-path: ellipse(80% 80% at 50% -10%); }
  .header__logo-box {
    position: absolute;
    top: 100%;
    left: 50%; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    text-align: center;
    /* center in relation to parent element */
    top: 30%;
    left: 50%;
    /* center in relation to element itself */
    transform: translate(-50%, -40%); }

.navbar {
  background-color: #4a919e;
  margin: 0;
  height: 8rem;
  position: relative; }
  .navbar__linklist {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 65%;
    border-bottom: 1px solid #4a919e;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-image: linear-gradient(to bottom, transparent 98%, rgba(0, 0, 0, 0.2));
    border-radius: 3px; }
  .navbar__item {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 3rem;
    border-radius: 3px; }
  .navbar__link, .navbar__link:link, .navbar__link:visited {
    transition: all .3s;
    text-decoration: none;
    color: #FFF;
    padding: 1rem;
    letter-spacing: .2rem;
    border: none; }
  .navbar__link:hover, .navbar__link:active {
    border-top: 4px solid #bed3c3;
    border-radius: 3px; }
  .navbar__link:focus {
    border-top: 4px solid #bed3c3;
    border-radius: 3px;
    background-color: rgba(33, 46, 83, 0.2); }

.section-about {
  height: 60rem;
  margin-top: -25rem;
  background-color: #e9e9e9;
  padding: 17rem 0 25rem 0;
  font-size: 1.6rem; }
  .section-about__content {
    position: relative;
    width: 60%;
    margin: auto; }
  .section-about__shape {
    width: 25rem;
    height: 25rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 45%);
    shape-outside: circle(50% at 50% 45%);
    -webkit-clip-path: circle(50% at 50% 45%);
    clip-path: circle(50% at 50% 45%);
    transform: translateX(rem);
    position: relative; }
  .section-about__img {
    width: 100%;
    transform: translateY(-5rem); }
  .section-about__text {
    padding-top: 3rem;
    transform: translateX(5rem);
    line-height: 3rem; }
