*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif; }

header {
  font-family: 'Josefin Sans', sans-serif; }

.heading-primary {
  color: #FFF; }
  .heading-primary--main {
    display: block;
    font-size: 5.0rem;
    font-weight: 700;
    letter-spacing: .8rem; }
  .heading-primary--sub {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .6rem; }

.u-margin-top {
  margin-top: 4rem; }

.header {
  position: relative;
  height: 80vh;
  min-height: 40rem;
  background-image: linear-gradient(to bottom, rgba(74, 145, 158, 0.8) 30%, rgba(33, 46, 83, 0.8));
  background-size: cover;
  background-position: top;
  clip-path: ellipse(80% 80% at 50% -10%); }
  .header__logo-box {
    position: absolute;
    top: 100%;
    left: 50%; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    text-align: center;
    /* center in relation to parent element */
    top: 30%;
    left: 50%;
    /* center in relation to element itself */
    transform: translate(-50%, -40%); }

.navbar {
  background-color: #4a919e;
  min-height: 8vh;
  color: #FFF; }
  .navbar__linklist {
    list-style: none;
    text-align: center; }
  .navbar__link {
    display: inline-block;
    font-size: 1.5rem; }
    .navbar__link:not(:last-child) {
      padding-right: 6rem; }
