/* MEDIA QUERY MANAGER
0 - 600px: phone
600 - 900px: tablet
900 - 1200px: tablet landscape

1200 - 1800: NORMAL

1800px+: big desktop
*/
html {
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 55%;
      width: 100%; } }

body {
  box-sizing: border-box;
  background-color: #e9e9e9; }

body {
  font-family: 'Raleway', sans-serif; }

header {
  font-family: 'Josefin Sans', sans-serif; }

.heading-primary {
  color: #FFF; }
  .heading-primary--main {
    display: block;
    font-size: 5.0rem;
    font-weight: 700;
    letter-spacing: .8rem; }
    @media (max-width: 931px) {
      .heading-primary--main {
        letter-spacing: .7rem;
        font-size: 4.25rem;
        line-height: 5.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .6rem; }
    @media (max-width: 931px) {
      .heading-primary--sub {
        font-size: 3rem; } }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .65rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid rgba(119, 119, 119, 0.2);
  cursor: default;
  background-image: linear-gradient(to right, rgba(33, 46, 83, 0.7), #212e53);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .3s; }
  .heading-secondary:hover {
    transform: scale(1.025) translate(-1rem, -1rem);
    text-shadow: 3rem 3rem 0.5rem rgba(119, 119, 119, 0.2);
    border-bottom: 1px solid transparent;
    backface-visibility: hidden; }
    @media (max-width: 931px) {
      .heading-secondary:hover:hover {
        transform: none;
        text-shadow: none; } }
  .heading-secondary--2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .65rem;
    margin: auto;
    margin-right: 6rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid rgba(233, 233, 233, 0.2);
    cursor: default;
    display: inline-block;
    color: #FFF;
    transition: all .3s; }
    .heading-secondary--2:hover {
      transform: scale(1.04);
      border-bottom: 1px solid transparent;
      backface-visibility: hidden; }
    @media (max-width: 931px) {
      .heading-secondary--2 {
        margin-right: 0; } }

.heading-tertiary {
  font-family: 'Josefin Sans', sans-serif;
  margin: auto;
  font-weight: 700;
  font-size: 3rem; }
  .heading-tertiary--sub {
    margin: auto;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.2rem; }

.project__text {
  line-height: 2.5rem;
  margin: auto; }

.project__icons {
  background-image: linear-gradient(#212e53, #4a919e);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }

.project__icon {
  font-size: 4rem; }
  .project__icon:not(:first-child) {
    padding-left: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-top {
  margin-top: 4rem !important; }

.u-margin-top-sml {
  margin-top: 2rem !important; }

.u-margin-bottom {
  margin-bottom: 4rem !important; }

.u-margin-bottom-sml {
  margin-bottom: 2rem !important; }

.u-margin-bottom-med {
  margin-bottom: 5rem !important; }

.u-margin-bottom-lg {
  margin-bottom: 8rem !important; }

.u-unskew {
  transform: skew(15deg); }
  @media (max-width: 931px) {
    .u-unskew {
      transform: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
      @media (max-width: 931px) {
        .row [class^="col-"]:not(:last-child) {
          display: table;
          margin: 0 auto; } }
    @media (max-width: 931px) {
      .row [class^="col-"] {
        float: none; } }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
    @media (max-width: 931px) {
      .row .col-1-of-2 {
        width: 80%;
        float: none;
        text-align: center;
        margin: auto; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 5rem / 3)) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 5rem / 4)) + 2 * 5rem); }

.header {
  position: relative;
  margin-top: 6rem;
  height: 50rem;
  background-image: linear-gradient(to bottom, #4a919e, #212e53);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: ellipse(80% 80% at 50% -10%);
  clip-path: ellipse(90% 80% at 50% -12%); }
  @media (max-width: 600px) {
    .header {
      margin-top: 0; } }
  .header__logo-box {
    position: absolute;
    top: 100%;
    left: 50%; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    text-align: center;
    width: 80%;
    /* center in relation to parent element */
    top: 30%;
    left: 50%;
    /* center in relation to element itself */
    transform: translate(-50%, -40%); }
    @media (max-width: 600px) {
      .header__text-box {
        width: 75%; } }

.navbar {
  background-color: #4a919e;
  margin: auto;
  height: 6rem;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent 20%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 80%, transparent 80%) 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: all .6s ease; }
  @media (max-width: 600px) {
    .navbar {
      border: none;
      height: 30rem;
      overflow: hidden;
      position: sticky; }
      .navbar--hide {
        height: 6rem;
        transition-delay: .4s; } }
  .navbar__button {
    visibility: hidden;
    margin: auto;
    background: transparent;
    border: none;
    color: #FFF;
    transform: rotate(45deg);
    transform-origin: center;
    font-size: 3rem;
    transition: all .3s;
    backface-visibility: hidden;
    outline: none;
    cursor: pointer; }
    .navbar__button--clicked {
      transform: scale(1.3) rotate(180deg); }
    @media (max-width: 600px) {
      .navbar__button {
        visibility: visible;
        margin-top: 1.5rem; } }
  .navbar__linklist {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 65%;
    padding-top: 2rem;
    border-radius: 3px; }
    @media (max-width: 931px) {
      .navbar__linklist {
        width: 95%; } }
    @media (max-width: 600px) {
      .navbar__linklist {
        position: relative;
        left: 0%;
        top: 0%;
        padding: none;
        transform: none;
        width: 100%;
        text-align: center; } }
  .navbar__item {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 3rem;
    border-radius: 3px; }
    @media (max-width: 931px) {
      .navbar__item {
        padding: 1.9rem;
        font-size: 1.4rem; } }
    @media (max-width: 600px) {
      .navbar__item {
        display: block;
        padding: 0 0 2rem 0;
        margin-top: 2rem; } }
  .navbar__link, .navbar__link:link, .navbar__link:visited {
    transition: all .3s;
    text-decoration: none;
    color: #FFF;
    padding: 1rem;
    letter-spacing: .2rem;
    border: none; }
  .navbar__link:hover, .navbar__link:active {
    border-top: 4px solid #bed3c3;
    border-radius: 3px; }
    @media (max-width: 600px) {
      .navbar__link:hover, .navbar__link:active {
        border: none;
        background-color: rgba(33, 46, 83, 0.2); } }
  .navbar__link:target, .navbar__link:focus {
    border-top: 4px solid #bed3c3;
    border-radius: 3px;
    background-color: rgba(33, 46, 83, 0.2); }
    @media (max-width: 600px) {
      .navbar__link:target, .navbar__link:focus {
        border: none;
        background-color: rgba(33, 46, 83, 0.2); } }

.section-about {
  height: 70rem;
  margin-top: -27rem;
  background-image: linear-gradient(to bottom, #e9e9e9 98%, transparent);
  padding: 20rem 0 0 0;
  font-size: 1.6rem; }
  .section-about__content {
    position: relative;
    width: 60%;
    margin: auto; }
    @media (max-width: 931px) {
      .section-about__content {
        width: 75%;
        padding: 2rem 0 5rem 0; } }
  .section-about__shape {
    width: 25rem;
    height: 25rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 45%);
    shape-outside: circle(50% at 50% 45%);
    -webkit-clip-path: circle(50% at 50% 45%);
    clip-path: circle(50% at 50% 45%);
    transform: translateX(-3rem); }
    @media (max-width: 931px) {
      .section-about__shape {
        float: none;
        display: block;
        margin: auto;
        transform: none; } }
  .section-about__img {
    width: 100%;
    transform: translateY(-5rem);
    z-index: 100; }
  .section-about__text {
    padding-top: 2rem;
    transform: translateX(2rem);
    line-height: 3rem; }
    @media (max-width: 931px) {
      .section-about__text {
        text-align: center;
        display: inline-block;
        margin-bottom: 3rem;
        transform: none;
        padding-top: 4rem; } }
  @media (max-width: 931px) {
    .section-about {
      height: max-content; } }

.section-skills {
  height: 40rem;
  margin: auto;
  border-radius: 1rem;
  box-shadow: -1rem 0 2.8rem #777;
  transform: skew(-15deg);
  width: 75%;
  padding: 7rem 0 30rem 0;
  background-image: linear-gradient(to bottom, #4a919e, #212e53);
  transition: all .3s; }
  .section-skills:hover {
    transform: scale(1.02) translateY(-0.5rem) skew(-15deg);
    box-shadow: -1rem 0 3.8rem #777; }
  @media (max-width: 931px) {
    .section-skills {
      box-shadow: none;
      transform: none;
      border-radius: .3rem;
      width: 95%;
      padding: 7rem 0 10rem 0;
      margin-top: 5rem; }
      .section-skills:hover {
        transform: none;
        box-shadow: none; } }
  @media (max-width: 600px) {
    .section-skills {
      margin-top: 0; } }

.section-projects {
  height: 140rem;
  background-image: linear-gradient(to bottom, transparent, #e9e9e9 2%);
  padding: 8rem 0 25rem 0;
  font-size: 1.6rem;
  position: relative; }
  @media (max-width: 600px) {
    .section-projects {
      height: 2rem; } }

.project {
  margin: auto;
  width: 95%;
  padding: 5rem 5rem 7.5rem 5rem; }
  .project__img-container {
    position: relative;
    display: inline-block;
    transition: all .3s;
    border-radius: 3px;
    margin: auto; }
    .project__img-container:hover {
      transform: scale(1.015) translateY(-0.5rem);
      box-shadow: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.8); }
    .project__img-container:hover .project__img {
      filter: brightness(75%) blur(0.5px); }
    .project__img-container:hover .project__link {
      opacity: 1; }
    @media (max-width: 931px) {
      .project__img-container {
        width: 100%; }
        .project__img-container:hover {
          transform: none;
          box-shadow: none; } }
  .project__links {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }
    @media (max-width: 931px) {
      .project__links {
        width: 100%;
        display: none; } }
  .project__link {
    display: inline-block;
    text-align: center;
    width: 12rem;
    text-decoration: none;
    letter-spacing: 1px;
    opacity: 0;
    border-radius: 3px;
    background-image: linear-gradient(#212e53, #4a919e);
    padding: 1.5rem;
    color: #FFF;
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
    transition: all .3s; }
    .project__link:not(:first-child) {
      margin-left: 3rem; }
    .project__link:hover {
      transform: scale(1.02) translateY(-1px);
      box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.8); }
    .project__link:active {
      transform: translateY(0);
      box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.8); }
  .project__img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 3px;
    box-shadow: 0rem 1rem 1.8rem #999;
    transition: all .3s; }
    @media (max-width: 931px) {
      .project__img {
        display: none; } }
  .project__icons {
    font-size: 3rem; }
    @media (max-width: 600px) {
      .project__icons {
        display: none; } }
