//begin media queries at ~1080px width

.header {
  position: relative;
  margin-top: $navbar-height;
  // height: 80vh;
  height: 50rem;
  background-image: linear-gradient(
    to bottom, 
    $color-blue-light, 
    $color-blue-dark); 
  background-size: cover;
  background-position: top;
  -webkit-clip-path: ellipse(80% 80% at 50% -10%);
  clip-path: ellipse(90% 80% at 50% -12%);

  // @include respond($respond-nav-collapse) {
  //   margin-top: 0;
  // }

  
  &__logo-box {
    position: absolute;
    top: 100%;
    left: 50%;
  }
  
  &__logo {
    height: 3.5rem;
  }
  
  &__text-box {
    position: absolute;
    text-align: center;
    width: 80%;
    
    /* center in relation to parent element */
    top: 30%;
    left: 50%;
    
    /* center in relation to element itself */    
    transform: translate(-50%, -40%);

    @include respond($respond-nav-collapse) {
      width: 75%;
    }
  }
}