//begin media queries at ~1240px width

.navbar {
  background-color: $color-blue-light;
  margin: auto;
  height: $navbar-height;
  // border-bottom: 1px solid rgba($color-black, .1);
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent 20%, rgba($color-black, .1) 20%, rgba($color-black, .1) 80%, transparent 80%) 50;
  // position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  
  &__linklist {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);

    list-style: none;
    text-align: center;
    width: 65%;
    // padding-bottom: 2rem;
    padding-top: 2rem;
    border-radius: $border-radius-sml;
  }

  &__item {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 3rem;
    border-radius: 3px;
  }

  &__link {
    &,
    &:link,
    &:visited {
      transition: all .3s;
      text-decoration: none;
      color: $color-white;
      padding: 1rem;
      letter-spacing: .2rem;
      border: none;
    }

    &:hover,
    &:active {
      border-top: 4px solid $color-tertiary-light;
      border-radius: $border-radius-sml;
    }

    &:target,
    &:focus {
      border-top: 4px solid $color-tertiary-light;
      border-radius: $border-radius-sml;
      background-color: rgba($color-blue-dark, 0.2);
    }

  }
}