//begin media queries at ~1001px width

.navbar {
  background-color: $color-blue-light;
  margin: 0;
  height: 8rem;
  position: relative;
  
  &__linklist {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);

    list-style: none;
    text-align: center;
    width: 65%;
    border-bottom: 1px solid rgba($color-blue-light, 1);  
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-image: linear-gradient(to bottom, transparent 98%, rgba($color-black, 0.2));
    border-radius: $border-radius-sml;
  }

  &__item {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 3rem;
    border-radius: 3px;
  }

  &__link {
    &,
    &:link,
    &:visited {
      transition: all .3s;
      text-decoration: none;
      color: $color-white;
      padding: 1rem;
      letter-spacing: .2rem;
      border: none;
    }

    &:hover,
    &:active {
      border-top: 4px solid $color-tertiary-light;
      font-weight: 700;
      border-radius: $border-radius-sml;
      // background-color: rgba($color-blue-light, 0.9);
    }
    &:focus {
      border-top: 4px solid $color-tertiary-light;
      font-weight: 700;
      border-radius: $border-radius-sml;
      // background-color: rgba($color-blue-dark, 0.2);
    }

  }
}